.about_container {
    row-gap: 2rem;
    text-align: center;
}

.about_subtitle {
    margin-bottom: var(--mb-2);
}

.about_img {
    display: flex;
    justify-content: center;
}

.about_img img {
    width: 200px;
    border-radius: .5rem;
}

.about_text {
    margin-bottom: var(--mb-6);
}