.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data {
    align-self: center;
}

.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home_title-color {
    color: var(--first-color);
}

.home_social {
    display: flex;
    flex-direction: column;
}

.home_social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home_social-icon:hover {
    color: var(--first-color);
}

.home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}