.main-projects {
    text-align: center;
}

.projects__container {
    row-gap: 2rem;
}

.project__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.project__img, .portfolio__img {
    transition: 1s;
    cursor: pointer;
}
.project__img .portfolio__img:hover {
    transform: scale(1.1);
}

.project__img .calculator__img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project__img, .calculator__img {
    transition: 0.5s;
    cursor: pointer;
}
.project__img .calculator__img:hover {
    width: 160px;
}


.project__img .loading__img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project__img .loading__img:hover {
    
}