.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
}

.button__download {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    margin-left: 10px;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}