.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data {
    align-self: center;
}

.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home_title-color {
    color: var(--first-color);
}